@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
$font: "S-CoreDream-3Light";

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  // MENU-NAV
  .menu,
  .menu-active,
  .menu-subpage {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    padding: 20px 30px;
    .menu-bar {
      color: #333;
      cursor: pointer;
      font-size: 25px;
    }
    .main-menu {
      margin-left: 100px;
      h1 {
        width: 100%;
        font-size: 86px;
        font-weight: 800;
        cursor: pointer;
        padding: 0 0 0px 10px;
      }
      .menu-list {
        width: 100%;
        margin-top: 20px;
        .gnb {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 30px;
          margin-left: 20px;
          li {
            p {
              font-size: 14px;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
      }
      // MENUBAR-ACTIVE
      .show-menu {
        background-color: white;
        border: 1px solid #333;
        padding-bottom: 80px;
        h1 {
          color: black;
          padding: 0 120px 40px 10px;
          border-bottom: 1px solid #333;
        }
        .show-menu-list {
          display: flex;
          justify-content: flex-end;
          padding: 15px 10px;
          align-items: center;
          gap: 20px;
          li {
            p {
              font-size: 14px;
              font-weight: 400;
              color: #333;
              cursor: pointer;
            }
            p.select {
              color: black;
              font-weight: 700;
            }
          }
        }
      }
      .sub-menu-list {
        width: 100%;

        ul {
          padding: 15px 10px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          li {
            border: 1px solid black;
            padding: 2px 5px;
            cursor: pointer;
            span {
              font-size: 10px;
              font-weight: 300;
              letter-spacing: 2px;
              @include flexCenter();
            }
          }
        }
      }
    }
    .search {
      position: absolute;
      right: 300px;
      input {
        width: 250px;
        border: 1px solid #333;
        outline: none;
        font-size: 15px;
        font-family: $font;
        font-weight: 700;
        padding: 3px 10px 3px 5px;
        cursor: pointer;
        &::placeholder {
          font-family: $font;
          font-size: 13px;
          color: black;
          text-align: right;
        }
        &:focus {
          border: none;
        }
      }
    }
    .client-menu {
      position: absolute;
      right: 30px;
      ul {
        width: 100%;
        display: flex;
        li {
          margin: 0 10px;
          span {
            font-size: 13px;
            font-weight: 700;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
  // MENU-SCROLL-ACTIVE
  .menu-active {
    .menu-bar {
      color: white;
    }
    .main-menu {
      h1 {
        color: white;
      }
      .menu-list {
        .gnb {
          li {
            p {
              color: white;
            }
          }
        }
      }
    }
    .client-menu {
      ul {
        li {
          span {
            color: white;
          }
        }
      }
    }
  }
  // subpage-menu
  .menu-subpage {
    .main-menu {
      .menu-list {
        display: none;
      }
    }
  }
}

// LANDING-BANNER-SWIPER
.home {
  width: 100%;
  height: 100%;
  .swiper {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-next,
    .swiper-button-prev {
      color: #d3d3d3;
      transform: scale(0.4);
    }
    .swiper-slide {
      position: relative;
      span {
        position: absolute;
        right: 50px;
        bottom: 100px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        color: #333;
      }
      span.active {
        color: white;
      }
    }
  }
}

// LOGIN
.login,
.sign {
  width: 100%;
  @include flexCenter();
  justify-content: flex-start;
  padding-top: 200px;
  .login-wrapper,
  .sign-wrapper {
    width: 100%;
    max-width: 1240px;
    margin-left: 169px;
    span {
      font-size: 15px;
      font-weight: 500;
      color: #333;
      pointer-events: none;
    }
    form {
      margin-top: 50px;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      div {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        label {
          font-size: 12px;
          color: #999;
        }
        input {
          width: 100%;
          padding: 5px 3px;
          border: none;
          outline: none;
          border-bottom: 1px solid black;
          font-family: $font;
          font-weight: 700;
          font-size: 13px;
          letter-spacing: 1px;
        }
        span {
          position: absolute;
          top: 110%;
          font-size: 11px;
          color: red;
        }
        span.email-active {
          color: black;
        }
      }
    }
    button {
      width: 100%;
      font-size: 14px;
      border: 1px solid black;
      margin-top: 20px;
      padding: 7px 0;
      font-family: $font;
      font-weight: 700;
      color: black;
      background-color: white;
      cursor: pointer;
      &:hover {
        color: #999;
      }
    }
    .find-account {
      max-width: 400px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

// SIGN
.sign {
  width: 100%;
  @include flexCenter();
  justify-content: flex-start;
  padding-top: 200px;
  padding-bottom: 200px;
  .sign-wrapper {
    width: 100%;
    max-width: 1240px;
    margin-left: 169px;
    span {
      font-size: 15px;
      font-weight: 500;
      color: #333;
      pointer-events: none;
    }
    .alert {
      font-size: 11px;
      color: red;
    }
    form {
      input {
        border-radius: 0;
        &:focus {
          outline: none;
        }
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox  */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      .adress-wrapper {
        position: relative;
        .find-adress {
          position: absolute;
          width: 100px;
          font-size: 12px;
          padding: 0;
          left: 50px;
          top: -23px;
          margin: 0;
        }
      }
      .adressdetail {
        margin-top: 10px;
        &::placeholder {
          font-size: 12px;
          color: #999;
          font-weight: 500;
        }
      }
    }
  }
}

// Product
.product {
  width: 100%;
  @include flexCenter();
  justify-content: flex-start;
  padding: 200px 0;
  .product-wrapper {
    width: 100%;
    .product-layout {
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        cursor: pointer;
      }
    }
    .item {
      cursor: pointer;
      img {
        width: 450px;
        object-fit: cover;
      }
      .item-detail {
        width: 100%;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        gap: 3px;
        p {
          font-size: 12px;
          font-weight: 700;
        }
        span {
          font-size: 11px;
          font-weight: 500;
        }
      }
    }
    // Big-Product
    .item-wrapper {
      width: 80%;

      margin: 0 auto;
      @include flexCenter();
      gap: 50px;
      flex-wrap: wrap;
      padding: 48px 0 0;
      .item {
        margin-bottom: 50px;
      }
    }

    // Mid-Product
    .item-mid {
      width: 100%;
      padding: 30px 0 0;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      .item {
        width: 100%;
        cursor: pointer;

        img {
          width: 100%;
          object-fit: cover;
        }
        .item-detail {
          width: 100%;
          padding: 5px 0;
          display: flex;
          flex-direction: column;
          padding-bottom: 20px;
          p {
            font-size: 12px;
            font-weight: 700;
          }
          span {
            font-size: 11px;
            font-weight: 500;
          }
        }
      }
    }
    // Small-Product
    .item-small {
      width: 100%;
      padding: 30px 0 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      .item {
        width: 100%;
        cursor: pointer;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// Detail
.detail {
  width: 100%;
  padding: 200px 0;
  .detail-inner {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    height: calc(100vh - 200px);
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 40px;
    // Info
    .detail-info.active {
      height: 100%;
    }
    .detail-info {
      width: 300px;
      height: 300px;
      border: 1px solid black;
      padding: 0 10px 20px 20px;
      position: relative;
      .detail-info-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px 10px 0;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 1px;
        }
        &::-webkit-scrollbar-thumb {
          height: 2%;
          background: black;
        }
        &::-webkit-scrollbar-track {
          background: rgba(0, 0, 0, 0.2);
        }
        span {
          font-size: 12px;
          cursor: default;
          line-height: 20px;
        }
        .item-management {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
      .show-hide {
        position: absolute;
        bottom: -30px;
        span {
          font-size: 12px;
          line-height: 20px;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    // Slide
    .item-detail-image {
      width: 650px;
      height: 100%;
      overflow: hidden;
      padding-left: 50px;
      @include flexCenter();
      .mySwiper2 {
        width: 490px;
        height: 100%;
        overflow: visible;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .swiper-scrollbar {
          right: -10px;
          width: 2px;
          .swiper-scrollbar-drag {
            background-color: black;
          }
        }
      }
      .mySwiper {
        height: 100%;
        padding: 0 23px;
        .swiper-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          .swiper-slide {
            width: 30px !important;
            min-width: 40px;
            height: 50px;
            opacity: 0.5;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              cursor: pointer;
            }
          }
          .swiper-slide-thumb-active {
            opacity: 1;
          }
        }
      }
    }
    .item-order {
      width: 25%;
      height: 100%;
      .item-order-inner {
        width: 100%;
        border: 1px solid black;
        .item-info {
          padding: 30px;
          border-bottom: 1px solid black;
          display: flex;
          flex-direction: column;
          gap: 20px;
          p,
          span {
            margin: 0;
            padding: 0;
            font-size: 12px;
            cursor: default;
          }
          .name-price {
            p {
              font-weight: 600;
            }
          }
          .description {
            .item-description {
              display: block;
              line-height: 18px;
            }
          }
          .delivery {
            span {
              font-size: 10px;
              font-weight: 700;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .selected {
          width: 100%;
          padding: 30px;
          display: flex;
          flex-direction: column;
          gap: 30px;
          border-bottom: 1px solid black;
          .color {
            width: 100%;
            display: flex;
            gap: 10px;
            span {
              display: block;
              font-size: 12px;
              font-weight: 600;
              border: 1px solid black;
              padding: 4px 16px;
              cursor: pointer;
            }
            span.select {
              background-color: black;
              color: white;
            }
          }
          .size {
            width: 100%;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            span {
              display: block;
              font-size: 12px;
              font-weight: 600;
              border: 1px solid black;
              padding: 4px 16px;
              cursor: pointer;
            }
            span.select {
              background-color: black;
              color: white;
            }
          }
        }
        .item-btn {
          width: 100%;
          span {
            display: block;
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            padding: 10px 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
